/*========CONFIGS==========*/
@import url("./fonts.css");

:root{
    --rosa-claro:rgb(255, 190, 212);
    --rosa:rgb(236, 42, 133);
    --vermelho:rgb(255, 86, 86);
    --verde:rgb(125, 255, 125);
    --branco:rgb(255, 255, 255);
}

/*============PAGE===============*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html{
    height: 100%;
    scroll-snap-type: y proximity;
}

.area{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    & .container{
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;

        & .left{
            width: 40%;
            height: 1000px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 70px;
            gap: 50px;
            padding-inline:50px;
            background-color: var(--rosa);

            & .btn-back{
                width: 100%;
                display: flex;
                justify-content: left;

                & a{
                    font-size: 40px;
                    color: white;
                }
            }

            & .info{
                display: flex;
                flex-direction: column;
                align-items: center;

                & p{
                    width: 250px;
                    text-align: center;
                    font-family: Saturday;
                    font-size: 60px;
                    text-shadow: 2px 2px 1px var(--branco);
                }

                & img{
                    width: 200px;
                    height: 200px;
                } 
            }

            & .btn-log{
                width: 220px;
                display: flex;
                flex-direction: column;
                align-items: center;
                color: white;
                font-size: 25px;
                font-family: GeorgeCafe;
                gap: 10px;
                font-weight: bold;
                

                & button{
                    width: 200px;
                    height: 40px;
                    font-size: 20px;
                    font-family: GeorgeCafe;
                    font-weight: bold;
                    color: var(--vermelho);
                    background-color: white;
                    border:none;
                    border-radius: 45px;
                }

                & button:hover{
                    cursor: pointer;
                    opacity: 0.7;
                    transform: scale(0.95);
                }
            }
        }

        & .right{
            width: 60%;
            height: 1000px;
            background-image: url(../Images/background-cupcakes.png);
            display: flex;
            justify-content: center;
            padding-top: 160px;
        }
    }
}

.box{
    width: 350px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(255, 190, 212, 0.349);
    backdrop-filter: blur(2px);
    box-shadow: rgba(0, 0, 0, 0.658) 0px 7px 29px 0px;

    & .form{
        display: flex;
        justify-content: center;

        & form{
            display: flex;
            flex-direction:column;
            align-items: center;
            padding-top: 20px;
            gap: 30px;

            & .inpt{
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-direction: row-reverse;
                gap: 5px;
                width: 100%;
                height: 45px;
                margin-inline: 10px;
                border-bottom: var(--rosa) solid 2px;

                & #password{
                    width: 220px;
                }


                & i{
                    color: var(--rosa);
                    font-size: 20px;
                }

                & input{
                    padding: 5px 0px 5px 5px;
                    border: none;
                    background:none;
                    outline: none;
                    width: 250px;
                    height: 40px;
                    font-size: 15px;
                }

                & input::placeholder{
                    color: black;
                    font-size: 15px;
                }

            }
        }

        & .enviar{
            background-image: url(../Images/granulado.jpg);
            background-size: 100px;
            width: 150px;
            height: 35px;
            border-radius: 35px;
            border:solid rgb(255, 129, 192) 2px;
            color: white;
            font-size: 20px;
            font-weight: bold;
            font-family: GeorgeCafe;
            margin-top: 20px;
        }

    }


    & img{
        border-radius: 10px;
        width: 350px;
        height: 170px;
    }
}