/*========CONFIGS==========*/
@import url("./fonts.css");

:root{
     --rosa-claro:rgb(255, 190, 212);
     --rosaa:rgb(243, 85, 159);
     --vermelho:rgb(255, 86, 86);
     --verde:rgb(125, 255, 125);
     --branco:rgb(255, 255, 255);
}

/*============PAGE===============*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    scroll-snap-type: y proximity;
}


/*=================HEADER=================*/
header{
    position: fixed;
    background-color: var(--rosaa);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    z-index: 2;

    & .header-content{
        width: 1000px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .menus{
            width: 470px;

            & ul{
                display: flex;
                gap: 30px;
                list-style-type: none;
            }

            & li{
                font-size: 20px;
                color: white;
                font-family: GeorgeCafe;
                font-weight: bold;
            }

            & li:hover{
                color: var(--rosa-claro);
                cursor: pointer;
            }

        }

        & .logo{
            width: 60px;
            height: 60px;

            & img{
                width: 60px;
                height: 60px;
            }
        }

        & .shortcuts{
            width: 470px;
            display: flex;
            justify-content: right;
            gap: 25px;

            & .bi{
                color: white;
                font-size: 28px;
            }

            & .bi:hover{
                color: var(--rosa-claro);
                cursor: pointer;
            }
        }
    }
}

/*====================CONTENT==================*/


    /*LOGO AREA*/
        .logo-area{
            display: flex;
            justify-content: space-evenly;
            background-color: white;
            background-image: url("../Images/background-cupcakes.png");
            border-bottom:solid var(--rosa-claro) 4px ;
            padding-inline: 150px;
            scroll-snap-align: start;
            backdrop-filter: blur(50px) ;
        }

        .slogan{
            font-family:Mylove;
            font-size: 50px;
            margin-top: 180px;
        }

        .logo{
            width: 400px;
            height: 400px;
        }


    /*OFFSALE AREA*/
        .offsale-area{
            background-color: var(--branco);
            height: 100%;
            margin-bottom: 120px;
            scroll-snap-align: start;
        }

        .offsale-title-area{
            color: black;
            font-weight: 300;
            font-size: 40px;
            font-family: GeorgeCafe;
            text-align: center;
            padding-top: 20px;
        }

        .cards{
            display: flex;
            justify-content: center;
        }

        #cards-line1{
            display: show;
        }

        #cards-line2{
            display: none;
        }
        
        .cards-bolos{
            display: flex;
            justify-content: space-around;
            gap: 25px;
        }
        
        .cards-category-area{
            display: flex;
            justify-content: center;
            margin-bottom: 15px;
        }

        .category-area{
            width: 1060px;
            display: flex;
        }

        .categories{
            padding-top: 40px;
            padding-bottom: 10px;
            user-select: none;
            display: flex;
            gap: 5px;
        }

        .category{
            color:black;
            width: 100px;
            height: 40px;
            font-family: GeorgeCafe;
            font-size: 30px;
            font-weight: 500px;
            text-align: center;
            padding-top: 5px;
            border-bottom: 2px solid transparent;
            transition: border-bottom 0.5s ease;
        }

        #category1.active, #category2.active {
            border-bottom: 2px solid var(--rosa);
        }
        
        .box{
            display: block;
            width: 250px;
            height: 370px;
            z-index: 0;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        }

        .image-box img{
            width: 200px;
            height: 200px;
            margin-inline:25px;
            margin-top: 15px;
        }

        .info-box{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top:0.6rem;
        }

        .info-box{
            & #name{
                font-family: GeorgeCafe;
                font-weight: 800;
                font-size: 25px;
            }

            & #desc{
                font-family: GeorgeCafe;
                font-size: 15px;
                font-weight: 500;
                text-align: center;
            }
        }

        @keyframes fadeInUp {
            0% {
                opacity: 0;
                transform: translateY(30px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }
        
        .fade-in {
            animation: fadeInUp 0.6s ease-in-out;
        }
        

    /*CREATIONS*/
        .creations-area{
            width: 100%;
            height: 600px;
            display: flex;
            justify-content: center;
            background-image: url("../Images/cakecherrycakecherry.png");
            background-size: cover;

            & .creations-container{
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.511);
            }
        }













/*=======HOVER & EFFECTS=========*/
#link1:hover{
    color:var(--rosa-claro);
    cursor: pointer;
}

.icon-menu:hover{
    opacity: 0.5;
}

.category:hover{
    opacity: 0.7;
    cursor: pointer;
}

.box:hover{
    transform: scale(1.01);
    opacity: 0.8;
}
