/*========CONFIGS==========*/
@import url("./fonts.css");

:root{
     --rosa-claro:rgb(255, 190, 212);
     --rosaa:rgb(243, 85, 159);
     --vermelho:rgb(255, 86, 86);
     --verde:rgb(125, 255, 125);
     --branco:rgb(255, 255, 255);
}

/*============PAGE===============*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    scroll-snap-type: y proximity;
}


/*=================HEADER=================*/
header{
    position: fixed;
    background-color: var(--rosaa);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    z-index: 3;

    & .header-content{
        width: 1000px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .menus{
            width: 470px;

            & ul{
                display: flex;
                gap: 30px;
                list-style-type: none;
            }

            & li a{
                font-size: 20px;
                color: white;
                font-family: GeorgeCafe;
                font-weight: bold;
                user-select:none;
                text-decoration: none;
            }

            & li:hover{
                color: var(--rosa-claro);
                cursor: pointer;
            }

        }

        & .logo{
            width: 60px;
            height: 60px;

            & img{
                user-select:none;
                width: 60px;
                height: 60px;
            }
        }

        & .shortcuts{
            width: 470px;
            display: flex;
            justify-content: right;
            gap: 25px;

            & .bi{
                color: white;
                font-size: 28px;
            }

            & .bi:hover{
                color: var(--rosa-claro);
                cursor: pointer;
            }
        }
    }
    
    & .dropdown {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 150px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    & .dropdown a {
        color: black;
        font-family: GeorgeCafe;
        font-weight: bold;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    & .dropdown a:hover {
        background-color: #f1f1f1;
    }
}

/*====================CONTENT==================*/


    /*LOGO AREA*/
        .logo-area{
            display: flex;
            justify-content: center;
            background-color: white;
            background-image: url("../Images/background-cupcakes.png");
            border-bottom:solid var(--rosa-claro) 4px ;
            scroll-snap-align: start;
            backdrop-filter: blur(50px) ;
        }

        .logo-area-container{
            display:flex;
            width: 1000px;
            height: 100%;
            justify-content: space-between;
        }

        .slogan{
            font-family:Mylove;
            font-size: 50px;
            margin-top: 180px;
        }

        .logo{
            width: 400px;
            height: 400px;
        }


    /*OFFSALE AREA*/
        .offsale-area{
            background-color: var(--branco);
            height: 100%;
            margin-bottom: 120px;
            scroll-snap-align: start;
        }

        .offsale-title-area{
            width: 100%;
            display: flex;
            justify-content: center;       
            text-align: center;
            padding-top: 50px;
            
            & .title-offsale{
                width: 400px;
                height: 45px;
                color: black;
                font-size: 40px;
                font-family: GeorgeCafe;
            }
        }

        .cards{
            display: flex;
            justify-content: center;
        }

        #cards-line1{
            display: show;
        }

        #cards-line2{
            display: none;
        }
        
        .cards-bolos{
            display: flex;
            justify-content: space-around;
            gap: 25px;
        }
        
        .cards-category-area{
            display: flex;
            justify-content: center;
            margin-bottom: 15px;
        }

        .category-area{
            width: 1060px;
            display: flex;
        }

        .categories{
            padding-top: 40px;
            padding-bottom: 10px;
            user-select: none;
            display: flex;
            gap: 5px;
        }

        .category{
            color:black;
            width: 100px;
            height: 40px;
            font-family: GeorgeCafe;
            font-size: 30px;
            font-weight: 500px;
            text-align: center;
            padding-top: 5px;
            border-bottom: 2px solid transparent;
            transition: border-bottom 0.5s ease;
        }

        #category1.active, #category2.active {
            border-bottom: 2px solid var(--rosa);
        }
        
        .box{
            display: block;
            width: 250px;
            height: 370px;
            z-index: 0;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        }

        .image-box img{
            width: 200px;
            height: 200px;
            margin-inline:25px;
            margin-top: 15px;
        }

        .info-box{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top:0.6rem;
        }

        .info-box{
            & #name{
                font-family: GeorgeCafe;
                font-weight: 800;
                font-size: 25px;
            }

            & #desc{
                font-family: GeorgeCafe;
                font-size: 15px;
                font-weight: 500;
                text-align: center;
            }
        }

        @keyframes fadeInUp {
            0% {
                opacity: 0;
                transform: translateY(30px);
            }
            100% {
                opacity: 1;
                transform: translateY(0);
            }
        }
        
        .fade-in {
            animation: fadeInUp 0.6s ease-in-out;
        }
        

    /*CREATIONS*/
        .creations-area{
            width: 100%;
            height: 600px;
            display: flex;
            justify-content: center;
            background-image: url("../Images/cakecherrycakecherry.png");
            background-size: cover;

            & .creations-container{
                display: flex;
                justify-content: center;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.6);
            }

            & .creations-content{
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                gap: 50px;
                width: 1000px;
                height:600px;
                
                & .title-container{
                    font-family:MyLove;
                    color: white;
                    font-size: 100px;
                    text-shadow: 4px 3px 2px var(--rosaa);

                }

                & .btn-container{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 300px;
                    height: 70px;
                    gap: 20px;

                    & i{
                        font-size: 50px;
                        color: var(--rosaa);
                    }

                    & button{
                        width: 150px;
                        height: 40px;
                        border: none;
                        border-radius: 40px;
                        background-color: var(--rosaa);
                        color: var(--branco);
                        font-family: GeorgeCafe;
                        font-size: 23px;
                        font-weight: bold;

                    }
                }

                & .link-container{
                    width: 500px;
                    height: 20px;
                    font-size:20px;
                    color: white;
                    font-family: GeorgeCafe;
                    text-align: center;

                    & a{
                        font-size:20px;
                        color: var(--rosa);
                        font-family: GeorgeCafe; 
                        font-weight: bold;
                    }
                }
            }
        }

        /*WHO WE ARE*/
            .whoweare-area{
                width: 100%;
                height: 800px;
                display: flex;
                justify-content: center;

                & .whoweare-container{
                    display: flex;
                    justify-content: space-evenly;
                    flex-direction: row-reverse;
                    padding-top: 100px;
                    width: 1200px;
                    height: 100%;

                    & .right{
                        width: 500px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        & .title{
                            width: 400px;
                            height: 45px;
                            color: black;
                            font-size: 40px;
                            font-family: GeorgeCafe;
                            margin-bottom: 50px;
                        }

                        & .txt{
                            font-size: 20px;
                            font-family: GeorgeCafe;
                            font-weight: bold;
                        }
                    }

                    & .left{
                        & img{
                            width: 400px;
                            height: 400px;
                        }
                    }
                }
            }

            /*FEEDBACK AREA*/
                .feedback-area{
                    width: 100%;
                    height: 800px;
                    display: flex;
                    justify-content: center;
                    background-image: url("https://www.iped.com.br/_upload/galleries/2023/05/26/curso-confeitaria-64711217be114.jpg");
                    background-size: cover;

                    & .feedback-container{
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, 0.514);
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        & .feedback-content{
                            width: 1200px;
                            height: 700px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            & .left{
                                width: 50%;
                                height: 600px;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                border-right: solid var(--branco);

                                & .title{
                                    display:flex;
                                    justify-content: center;
                                    flex-direction: column;
                                    align-items: center;

                                    & .titulo{
                                        color: white;
                                        font-size: 50px;
                                        font-family: Saturday;
                                        text-shadow: 3px 2px 1px var(--rosaa);
                                    }

                                    & .subtitle{
                                        font-size: 25px;
                                        font-family: GeorgeCafe;
                                        font-weight: bold;
                                        color: white;
                                    }
                                }
                            }

                            & .right{
                                width: 50%;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                & .contact{
                                    width: 500px;
                                    height: 600px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    flex-direction: column;
                                    gap: 50px;

                                    & .icons{
                                        width: 350px;
                                        display: flex;
                                        align-items: center;
                                        gap:20px;

                                        & i{
                                            font-size: 40px;
                                            color: var(--rosa-claro);
                                        }

                                        & p{
                                            color: white;
                                            font-size: 20px;
                                            font-family: GeorgeCafe;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .form{
                    display: flex;
                    align-items: center;
                    flex-direction: column;

                    & form{
                        width: 400px;
                        display: flex;
                        flex-direction: column;
                        
                        & label{
                            color: white;
                            font-family: GeorgeCafe;
                            font-size: 20px;
                            margin-top: 20px;
                        }
                        
                        & textarea{
                            height: 120px;
                            width: 100%;
                            resize: none;
                        }
                        
                        & input{
                            width: 100%;
                            height: 40px;
                            margin: 5px 0px 10px 0px;
                        }                        
                    }

                    & button{
                        color: white;
                        font-size: 20px;
                        font-family: GeorgeCafe;
                        background-color: var(--rosaa);
                        border: none;
                        border-radius: 20px;
                        margin-inline: 50px;
                        margin-top: 30px;
                        width: 200px;
                        height: 50px;
                    }
                }

        /*SOCIAL MEDIA*/
            .social-media{
                width: 100%;
                height: 300px;
                display: flex;
                justify-content: center;

                & .social-content{
                    display: flex;
                    width: 1000px;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 50px;

                    & .title{
                        font-size: 40px;
                        font-family: GeorgeCafe;
                        font-weight: bold;
                        text-shadow: 2px 1px 1px var(--rosa-claro);
                    }

                    & .socials{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 30px;

                        & i{
                            font-size: 40px;
                            color: black;
                        }
                    }
                }
            }


/*===========FOOTER==============*/
footer{
    width: 100%;
    height: 150px;
    background-color: var(--rosa-claro);

    & .footer-container{
        display: flex;
        justify-content: center;

        & .content{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 1200px;

            & img{
                width: 110px;
                height: 110px;
            }

            & p{
                font-size: 20px;
                font-family: GeorgeCafe;
                font-weight: bold;
                color: rgb(0, 0, 0);
            }


        }
    }
}


















/*=======HOVER & EFFECTS=========*/
#link1:hover{
    color:var(--rosa-claro);
    cursor: pointer;
}

.icon-menu:hover{
    opacity: 0.5;
}

.category:hover{
    opacity: 0.7;
    cursor: pointer;
}

.box:hover{
    transform: scale(1.01);
    opacity: 0.8;
}
