/*==================CONFIG===============*/
@import url("../Styles/fonts.css");

:root{
    --rosa-claro:rgb(255, 190, 212);
    --rosa:rgb(255, 0, 157);
    --vermelho:rgb(255, 86, 86);
    --verde:rgb(125, 255, 125);
    --branco:rgb(255, 255, 255);
}

/*==================CONTENT===================*/
    /************SIGN-IN************/
    .form-area{
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 1;

        & .form-container{
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 60px;
            width: 1300px;
            height: 750px;
        }

        & .form-content{
            display: flex;
            justify-content: center;
            width: 1200px;
            height: 650px;
        }

        & .signIn{
            background-image: url("../Images/background-cupcakes.png");
            background-color: var(--branco);
            border-radius: 20px;
            width: 100%;
            height: 100%;
            display:flex;
            animation: animacao 5s;

            & .left-column{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                width: 60%;
                height:100%;
                z-index: 2;
            }

            & .right-column{
                display: flex;
                border-radius: 20px;
                background-color: var(--rosa-claro);
                width: 40%;
                height:100%;
                z-index: 3;
            }

            .btn-signUp{
                width: 100px;
                height: 50px;
                border-radius: 50px;
            }
        }

        & .signUp{
            display:none;
        }
    }

    @keyframes animacao{

        from{flex-direction: row;}
        to{flex-direction: row-reverse;}
    }

    .content::before{
        
    }

    .btn-close{
        width: 100%;
        display: flex;
        justify-content: right;
        padding: 10px;
    }

    .btn-close-popup{
        background: none;
        border: none;
        width: 30px;
        height: 30px;
        font-size: 25px;
        color:white;
        text-align: center;

    }


/*==================FORM======================*/
.boxlogin form{
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 35px;
}

.boxlogin{
    background-color: rgba(255, 0, 123, 0.2);
    box-shadow: 10px 10px 28px 0px rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    width: 350px;
    height: 420px;
    border-radius: 20px;
    color: white;
    font-family: GeorgeCafe;
    font-size: 15px;
}

.input{
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.input i{
    font-size: 23px;
    color: black;
    cursor: pointer;
}

.input i:hover{
    opacity: 0.7;
}

#mail{
    width: 260px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    padding-inline: 10px;
    font-size: 18px;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
}

#password{
    width: 240px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    padding-inline: 10px;
    font-size: 18px;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
}

.input input::placeholder{
    font-size: 17px;
    font-family: GeorgeCafe;
    font-weight: 800;
    color: rgb(0, 0, 0);
}

.input img{
    width: 35px;
    height: 35px;
}

.chocolate-form{
    width: 100%;
    border-radius: 15px;
}

.submit_btn{
    background: url("../Images/granulado.jpg");
    background-size: 100px;
    border-radius: 20px;
    border: 2px solid white;
    color: white;
    font-family: "SunnySpells";
    font-size: 25px;
    width: 140px;
    height: 40px;
    margin-top: 30px;
}

.form_txt{
    width: 342px;
    position: absolute;
    text-align: center;
    font-family: "SunnySpells";
    font-size: 32px;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-shadow: 3px 1px 1px rgb(143, 86, 63);
}
.btn_entrar_google{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    background-color: white;
    margin-top: 20px;
    box-shadow: 10px 10px 28px 0px rgba(0, 0, 0, 0.4);
}

.txtarea{
    top: 50px;
    left: 50px;
    color: white;
    position: absolute;
    text-align: center;
}
.info_area_txt1{
    font-family: GeorgeCafe;
    font-size: 20px;
}

.btn-google-txt{
    font-family: GeorgeCafe;
    font-size: 15px;
    padding:4px ;
}
.info_area{
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}





/*=================HOVER===================*/
.submit_btn:hover{
    opacity: 0.8;
}
.btn_entrar_google:hover{
    transform:scale(1.01);
}
   
