/*========CONFIGS==========*/
@import url("./fonts.css");

:root{
     --rosa-claro:rgb(255, 190, 212);
     --rosa:rgb(255, 0, 157);
     --vermelho:rgb(255, 86, 86);
     --verde:rgb(125, 255, 125);
     --branco:rgb(255, 255, 255);
}

/*============PAGE===============*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}


/*=================HEADER=================*/
header{
    position: fixed;
    background-color: var(--rosa);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

header img{
    width: 60px;
    height: 60px;
}

.icon-menu{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.icon-perfil{
    width: 30px;
    height:30px;
    margin-right: 20px;
}


    /*links*/
    .links-area{
        display: flex;
        height: 60px;
        padding:15px 10px;
    }

    .links{
        font-family: SunnySpells;
        font-size: 25px;
        padding-inline: 10px;
        color: var(--branco);
        text-decoration-line: none;
    }

    #link4{
        padding-right: 20px;
    }

/*====================CONTENT==================*/


    /*LOGO AREA*/
        .logo-area{
            display: flex;
            justify-content: space-evenly;
            background-image: url("../Images/background-cupcakes.png");
            border-bottom:solid var(--rosa-claro) 4px ;
            padding-inline: 150px;
        }

        .slogan{
            font-family:Mylove;
            font-size: 50px;
            margin-top: 180px;
        }

        .logo{
            width: 400px;
            height: 400px;
        }


    /*OFFSALE AREA*/
        .offsale-area{
            background-color: white;
            scroll-snap-align: start;
        }

        .offsale-title-area{
            color: black;
            font-weight: 300;
            font-size: 40px;
            font-family: GeorgeCafe;
            text-align: center;
            padding-top: 20px;
        }

        .cards{
            display: flex;
            justify-content: center;
        }
        
        .cards-bolos{
            display: flex;
            justify-content: space-around;
            gap: 25px;
        }
        
        .cards-category-area{
            display: flex;
            justify-content: center;
        }

        .category{
            color:  black;
            width: 1020px;
            font-family: GeorgeCafe;
            font-size: 30px;
            font-weight: 500px;
            padding-top: 40px;
            padding-bottom: 10px;
            user-select: none;
        }

        #category2{
            margin-bottom: 100px;
         }
        
        .box{
            display: block;
            width: 250px;
            height: 370px;
            background-color: rgba(206, 206, 206, 0.507);
            border-radius: 10px;
            z-index: 0;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        }

        .image-box img{
            width: 200px;
            height: 200px;
            margin-inline:25px;
            margin-top: 15px;
            border-radius: 5px;
        }

        .info-box{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top:0.6rem;
        }

        .info-box #name{
            font-family: GeorgeCafe;
            font-weight: 800;
            font-size: 25px;
        }
        
        .info-box #desc{
            font-family: GeorgeCafe;
            font-size: 15px;
            font-weight: 500;
            text-align: center;
        }
        
        
        

    /*NEWS AREA*/
        .news-area{
            width: 100%;
            height: 500px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--rosa-claro);
            background-image: url("../Images/pattern_checkerboard_1_14_0-0_0_1__ffdbe7_ffbdd3.png");
            border-top: 4px solid var(--verde);
            scroll-snap-align: start;
        }

        .info-news{
            display: flex;
        }

        .title-news{
            font-size: 80px;
            color: var(--rosa);
            font-family: MilkPeach;
            text-align: center;
            text-shadow: 2px 3px 1px var(--verde);
        }














/*=======HOVER & EFFECTS=========*/
#link1:hover{
    opacity: 0.5;
    cursor: pointer;
}
#link2:hover{
    opacity: 0.5;
}
#link3:hover{
    opacity: 0.5;
}
#link4:hover{
    opacity: 0.5;
}
.icon-menu:hover{
    opacity: 0.5;
}

.box:hover{
    opacity: 0.8;
    cursor: pointer;
}